.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field {
	display: grid;
	grid-template-columns: 1fr 40px;
	-webkit-box-align: center;
	align-items: center;
	background: #fff;
	width: 100% !important;
	padding: 0 !important;
	border: 1px solid #7e8993 !important;
	border-radius: 3px;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field + .acf-field {
	margin-top: 6px;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field > .acf-label {
	display: none;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field > .acf-input {
	padding: 8px 12px;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field > .acf-input label {
	display: block;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field > .sortable-group-icon {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	/* border-left: 1px solid #7e8993; */
	cursor: move;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .acf-field svg {
	width: 16px;
	fill: currentColor;
}

.acf-block-component .acf-block-fields .acf-fields.acf-fields-sortable-group > .sortable-group-placeholder {
	/* height: 36px; */
	background: #f7f7f7;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #eee;
}
