.acf-sortable-checkbox-list > li {
	display: grid;
	grid-template-columns: 1fr 40px;
	align-items: center;
	height: 36px;
	background: #fff;
	border: 1px solid #7e8993;
	border-radius: 2px;
}

.acf-sortable-checkbox-list > li + li {
	margin-top: 6px;
}

.acf-sortable-checkbox-list > li label {
	padding: 8px 16px;
}

.acf-sortable-checkbox-list > li.sortable-checkbox-placeholder {
	height: 36px;
	background: #f7f7f7;
	border: 1px solid #eee;
}

.acf-sortable-checkbox-list .sortable-checkbox-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-left: 1px solid #7e8993;
	cursor: move;
}

.acf-sortable-checkbox-list > li svg {
	width: 16px;
	fill: currentColor;
}
