.mai-grid {
	display: grid;
	grid-template-columns: repeat( calc( 2 * var(--mai-grid-columns) ), 1fr );
	grid-gap: var(--mai-grid-gutter, 24px);
}

.mai-grid__entry {
	grid-column: span 2;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin-bottom: calc( var(--mai-grid-gutter) + var(--mai-grid-gutter) );
}

/* offset first item of last row */
.mai-grid[style*="--mai-grid-columns: 1;"] .mai-grid__entry:nth-child(1n+1):nth-last-child(-n+1),
.mai-grid[style*="--mai-grid-columns: 2;"] .mai-grid__entry:nth-child(2n+1):nth-last-child(-n+2),
.mai-grid[style*="--mai-grid-columns: 3;"] .mai-grid__entry:nth-child(3n+1):nth-last-child(-n+3),
.mai-grid[style*="--mai-grid-columns: 4;"] .mai-grid__entry:nth-child(4n+1):nth-last-child(-n+4),
.mai-grid[style*="--mai-grid-columns: 5;"] .mai-grid__entry:nth-child(5n+1):nth-last-child(-n+5),
.mai-grid[style*="--mai-grid-columns: 6;"] .mai-grid__entry:nth-child(6n+1):nth-last-child(-n+6) {
	grid-column: calc(var(--mai-grid-empty) + 1) / span 2;
}

.entry-content .mai-grid__link,
.mai-grid__link {
	text-decoration: none;
	border: none;
}

.mai-grid__more {
	margin-top: auto;
}
