/* Show label (message field). */

.acf-block-component .acf-block-fields div.acf-field.acf-field-5e272ae04c5ba {
	padding-bottom: 0;
}

/* Show fields. */

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show {
	padding-top: 0;
	padding-bottom: 8px;
	margin-top: 0;
}

/* Conditional fields under Show fields. */

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show-conditional {
	position: relative;
	margin-left: calc( 28px + .25rem );
	padding-top: 8px;
	padding-bottom: 12px;
}

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show-conditional::before {
	content: '';
	position: absolute;
	bottom: calc( 100% - 19px );
	width: 18px;
	border-left: 1px solid #ccd0d4;
	border-bottom: 1px solid #ccd0d4;
}

.acf-block-component:not(.acf-block-panel) .acf-block-fields div.acf-field.mai-grid-show-conditional::before {
	left: -5px;
}
.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-show-conditional::before {
	left: -9px;
}

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show-conditional::before {
	height: 23px;
}

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show-conditional + .mai-grid-show-conditional::before {
	height: 100%;
}

.acf-block-component .acf-block-fields div.acf-field.mai-grid-show-conditional .acf-label label {
	font-weight: normal;
	margin: 0;
}

/* responsive settings adjustment */
.acf-block-component .acf-block-fields div.acf-field.acf-field-5c854069d358c {
	padding-bottom: 8px;
}
.acf-block-component .acf-block-fields div.acf-field.acf-field-5e334124b905d {
	padding-top: 0;
}
.acf-block-component .acf-block-fields div.acf-field.mai-grid-nested-columns {
	border-left: 1px solid #ccd0d4 !important;
}
.acf-block-component:not(.acf-block-panel) .acf-block-fields div.acf-field.mai-grid-nested-columns {
	margin-left: 20px;
}
.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-nested-columns {
	margin-left: 16px;
}
.acf-block-component .acf-block-fields > div.acf-field.mai-grid-nested-columns-first {
	position: relative;
	border-top: 1px solid #ccd0d4 !important;
	border-radius: 3px 0 0 0;
}
.acf-block-component .acf-block-fields > div.acf-field.mai-grid-nested-columns-first::before {
	content: '';
	display: block;
	height: 16px;
	width: 0;
	position: absolute;
	left: 6px;
	bottom: 100%;
	border-left: 1px solid #ccd0d4 !important;
}
.acf-block-component .acf-block-fields > div.acf-field.mai-grid-nested-columns-last {
	border-bottom: 1px solid #e2e4e7 !important;
	border-radius: 0 0 0 3px;
}

/* block panel only */

/* .acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-nested-columns {
	margin-left: 16px;
	border-left: 1px solid #ccd0d4 !important;
}
.acf-block-component.acf-block-panel .acf-block-fields > div.acf-field.mai-grid-nested-columns-first {
	position: relative;
	border-top: 1px solid #ccd0d4 !important;
	border-radius: 3px 0 0 0;
}
.acf-block-component.acf-block-panel .acf-block-fields > div.acf-field.mai-grid-nested-columns-first::before {
	content: '';
	display: block;
	height: 16px;
	width: 0;
	position: absolute;
	left: 6px;
	bottom: 100%;
	border-left: 1px solid #ccd0d4 !important;
}
.acf-block-component.acf-block-panel .acf-block-fields > div.acf-field.mai-grid-nested-columns-last {
	border-bottom: 1px solid #e2e4e7 !important;
	border-radius: 0 0 0 3px;
} */

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group .acf-button-group {
	display: -webkit-box;
	display: flex;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear {
	position: relative;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group {
	flex-wrap: wrap;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group > .acf-label {
	padding-right: 54px;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child {
	position: absolute;
	bottom: calc( 100% + 3px);
	right: 0;
	background: transparent;
	color: #008dd4;
	font-size: 10px;
	text-transform: uppercase;
	border: transparent;
	border-radius: 3px;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child:hover,
.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:first-child:focus {
	color: #016087;
	background: #f3f5f6;
	border-color: #0071a1;
}

.acf-block-component.acf-block-panel .acf-block-fields div.acf-field.mai-grid-button-group-clear .acf-button-group label:nth-child(2) {
	border-radius: 3px 0 0 3px;
}
