.mai-grid-background {
	display: grid;
	/* grid-template-columns: repeat( calc( 2 * var(--mai-grid-columns) ), 1fr ); */
	grid-template-columns: repeat( auto-fit, minmax( 80px, 2fr ) );
	/* grid-template-columns: repeat( calc( 2 * var(--mai-grid-columns) ), minmax(1fr, 300px) ); */
	grid-column-gap: var(--mai-grid-column-gap, 24px);
	grid-row-gap: var(--mai-grid-row-gap, 24px);
}

.mai-grid-background .mai-grid__entry {
	display: -webkit-box;
	display: flex;
	grid-column: span 2;
	text-decoration: none;
}

.mai-grid-background .mai-grid__entry::before {
	display: block;
	content: '';
	width: 1px;
	height: 0;
	margin-left: -1px;
	padding-bottom: calc( 100% / ( var(--aspect-ratio, 4/3) ) );
}

/* we need outer wrap because padding bottom on flex child element breaks in older Edge (<=16) (18 is current at this time) / FF (<=59) (66 is current at this time) */
.mai-grid-background .mai-grid__entry-wrap {
	width: 100%;
	height: auto;
}

.mai-grid-background .mai-grid__entry-inner {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.mai-grid-background .mai-grid__entry-content {
	padding: 24px;
}

.mai-grid-background .mai-grid__entry-inner::before {
	content: '';
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}

.mai-grid-background .mai-grid__entry:hover .mai-grid__entry-inner::before,
.mai-grid-background .mai-grid__entry:focus .mai-grid__entry-inner::before {
	background-color: rgba(0,0,0,.75);
}

.mai-grid-background .mai__grid-image {
	min-width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -2;
}

.mai-grid-background .mai-grid__title {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin: 0;
}

