.mai-grid-compact .mai-grid__entry {
	display: grid;
}

.mai-grid-compact .mai-grid__entry,
.mai-grid-compact.has-image-align-left .mai-grid__entry {
	grid-template-columns: auto 1fr;
}

.mai-grid-compact.has-image-align-right .mai-grid__entry {
	grid-template-columns: 1fr auto;
}

.mai-grid-compact:not(.has-boxed) .mai-grid__entry {
	grid-column-gap: 16px;
}

.mai-grid-compact .mai-grid__link {
	color: inherit;
	text-decoration: none;
}

.mai-grid-compact .mai-grid__link--image,
.mai-grid-compact .mai-grid__image {
	display: block;
	font-size: 0;
}

.mai-grid-compact .mai-grid__link--image {
	width: 80px;
}

.mai-grid-compact.has-image-align-right .mai-grid__link--image {
	-webkit-box-ordinal-group: 3;
	order: 2;
}

.mai-grid-compact .mai-grid__content {
	align-self: center;
	overflow: hidden;
}

.mai-grid-compact .mai-grid__content > * + * {
	margin-top: 8px;
}

.mai-grid-compact .mai-grid__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 22px;
	margin: 0;
	overflow: hidden;
}

.mai-grid-compact .mai-grid__link--more {
	display: inline-block;
	background-color: #e8e8e8;
	color: rgba(0,0,0,.5);
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 16px;
}

/* boxed */

.mai-grid-compact.has-boxed .mai-grid__entry {
	border: 1px solid rgba(0,0,0,.04);
	border-radius: 3px;
	overflow: hidden;
}

.mai-grid-compact.has-boxed .mai-grid__content {
	padding: 4px 16px;
}
