/* Defaults */
.mai-grid,
.mai-grid * {
	box-sizing: border-box;
}

.mai-grid-wrap {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: var(--align-columns);
	justify-content: var(--align-columns);
	-webkit-box-align: var(--align-columns-vertical);
	align-items: var(--align-columns-vertical);
	margin-left: calc( var(--column-gap) - ( 1.5 * var(--column-gap) ) );
	margin-right:calc( var(--column-gap) - ( 1.5 * var(--column-gap) ) );
	margin-top: calc( var(--row-gap) - ( 1.5 * var(--row-gap) ) );
	margin-bottom: calc( var(--row-gap) - ( 1.5 * var(--row-gap) ) );
}

@media only screen and (max-width: 544px) {
	.mai-grid-entry {
		--columns: var(--columns-xs);
	}
}
@media only screen and (min-width: 545px) and (max-width: 768px) {
	.mai-grid-entry {
		--columns: var(--columns-sm);
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
	.mai-grid-entry {
		--columns: var(--columns-md);
	}
}
.mai-grid-entry {
	width: 100%;
	-webkit-box-flex: 1;
	flex: 1 1 calc( ( 100% / var(--columns) ) - var(--column-gap) );
	max-width: calc( ( 100% / var(--columns) ) - var(--column-gap) );
	margin-left: calc( var(--column-gap) / 2 );
	margin-right:calc( var(--column-gap) / 2 );
	margin-top: calc( var(--row-gap) / 2 );
	margin-bottom:calc( var(--row-gap) / 2 );
}

/* Elements */

.mai-grid-entry > * + *,
.mai-grid-inner > * + * {
	margin-top: 12px;
}

.mai-grid-title {
	font-size: 22px;
}

.mai-grid-title-link,
.entry-content .mai-grid-title-link {
	color: #323232;
	text-decoration: none;
}
