.acf-block-panel .acf-block-fields div.acf-field.acf-field-5de9b96fb69b0 ~ div.acf-field-message {
	padding-bottom: 0;
}
.acf-block-panel .acf-block-fields div.acf-field.acf-field-5de9b96fb69b0 ~ div.acf-field-true-false {
	padding-top: 0;
	padding-bottom: 0;
}
